<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>NaFella</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/generate_shop</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>CatalogView</servlet-name>
    <servlet-class>com.NaFella.Control.CatalogView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogView</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartSession</servlet-name>
    <servlet-class>com.NaFella.Control.CartSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSession</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupControl</servlet-name>
    <servlet-class>com.NaFella.Control.SignupControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupControl</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>com.NaFella.Control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/JspManager/Jsp/login_admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerControl</servlet-name>
    <servlet-class>com.NaFella.Control.CustomerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerControl</servlet-name>
    <url-pattern>/JspManager/Jsp/customers_registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.NaFella.Control.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalArea</servlet-name>
    <servlet-class>com.NaFella.Control.PersonalAreaControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalArea</servlet-name>
    <url-pattern>/personalArea</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminControl</servlet-name>
    <servlet-class>com.NaFella.Control.AdminControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/JspManager/Jsp/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/JspManager/Jsp/total_orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmCheckout</servlet-name>
    <servlet-class>com.NaFella.Control.ConfirmCheckout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCheckout</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>com.NaFella.Control.ProductControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/JspManager/Jsp/products_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.NaFella.Control.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/JspManager/Jsp/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.NaFella.Control.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductView</servlet-name>
    <servlet-class>com.NaFella.Control.ProductView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductView</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
</web-app>